<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT sampleDocumentType ANY>
<!ATTLIST sampleDocumentType id ID #REQUIRED>
<!ELEMENT contentBase ANY>
<!ATTLIST contentBase id ID #REQUIRED>
<!ELEMENT feature ANY>
<!ATTLIST feature id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT navigationBase ANY>
<!ATTLIST navigationBase id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT blogpost ANY>
<!ATTLIST blogpost id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT people ANY>
<!ATTLIST people id ID #REQUIRED>
<!ELEMENT person ANY>
<!ATTLIST person id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT products ANY>
<!ATTLIST products id ID #REQUIRED>
]>
<root id="-1">
  <sampleDocumentType id="1168" key="1e82cea5-28f9-49f7-ae5a-63f6ba3441f8" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-11-30T13:15:00" updateDate="2017-11-30T13:22:51" nodeName="Sample Page" urlName="sample-page" path="-1,1168" isDoc="" nodeType="1167" creatorName="Matt Uliasz" writerName="Matt Uliasz" writerID="0" template="1166" nodeTypeAlias="sampleDocumentType" isPublished="true">
    <documentDate>2017-11-09T00:00:00</documentDate>
    <documentTypeName><![CDATA[this is sample text]]></documentTypeName>
  </sampleDocumentType>
</root>